
<div class="container">
    <div class="row">
        <div class="col-6">
          <h1>2022 GAMES</h1>
            <hr>
            <ul>
                <div *ngFor="let game of games; let i=index">
                    <li appStrikethrough> <b>{{game.name}}</b> played on {{game.playDate|date}}</li>
                    
                    <button class="btn btn-outline-success btn-sm mb-4 mt-1"(click)="toggleDetail(i)">Details</button>
                <app-gamedetail *ngIf="game.showDescription" [game]="game"  (isComplete)="completeGame($event,i)"></app-gamedetail>
                </div>
            </ul>
            <P *ngIf="games.length>2">To Many though The best of 2022</P>

        </div>

        <div class="col-6">
            <app-game-form (addGame)="addNewGame($event)"></app-game-form>
        </div>

    </div>

    <div class="row mt-5">
        <blockquote class="blockquote text-center">
          <p class="">{{quote.quote}}</p>
          <footer class="blockquote-footer mt-3"><cite>{{quote.author}}</cite></footer>
        </blockquote>
      </div>
  
</div>
